services:
    spinner:
        build:
            context: .
        container_name: spinner
        ports:
            - 8000:80
        volumes:
            - ./server/data:/app/server/data
        restart: unless-stopped
