*, *:before, *:after {
    box-sizing: border-box;
}

@font-face {
 font-family: 'Roboto';
 src: url(Roboto-Medium.ttf) format('woff2');
}

body {
    background-color: #0f0f0f;
    color: white;
    padding: 1rem;
    font-family: Roboto;
}

textarea {
    max-height: 90vh;
    flex-grow: 1;
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
}

.two-cols {
    display: flex;
}

.spinner-div {
    position: relative;
}

.options-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    padding: 1rem;
    flex-grow: 1;
}

.btn {
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    color: white;
    font-size: 1rem;

    &:hover {
        filter: brightness(0.8);
        cursor: pointer;
    } 
}

.btn-blue {
    background-color: #004774;
    color: white;
}

.btn-red {
    background-color: #dd343d;
    color: white;
}

.btn-dark {
    background-color: #2d2a2a;
    color: white;
}

.modal {
    padding: 0;
    grid-template-rows: auto 1fr auto;
    border-radius: 10px;
    border: none;
    background-color: #0f0f0f;
    color: white;
    width: 50svw;
    height: 30svh;
    
    &::backdrop {
        background: #0f0f0f;
        opacity: 0.8;
    }

    &[open] {
        display: grid;
    }

    .head-div {
        font-size: 1.5rem;
        padding: 0.9rem;
        background-color: #004774
    };

    .body-div {
        display: flex;
        align-items: center;
        padding: 2rem;
        font-size: 2rem;
    }

    .button-div {
        display: flex;
        gap: 1rem;
        justify-content: end;
        align-items: center;
        padding: 1rem;

        button {
            white-space: nowrap;
            flex: 1;
            max-width: 150px;
        }        
    }
}

#spinner-canvas {
    display: block;
}


#update-options-button {
    font-size: 1rem;
    background-color: #004774;
}

#themes-select {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #405c79;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    width: 50%;
    max-width: 250px;
    font-size: 1.2rem;

}