*, *:before, *:after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.ttf') format('woff2');
}

body {
    margin: 0;
    background-color: #0f0f0f;
    color: white;
    font-family: Roboto;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #8a8af2;

    &:hover {
        color: white;
    }
}

.two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btn {
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    color: white;
    font-size: 1rem;

    &:hover {
        filter: brightness(0.8);
        cursor: pointer;
    } 
}

.btn-blue {
    background-color: #004774;
    color: white;
}

.btn-red {
    background-color: #dd343d;
    color: white;
}

.btn-dark {
    background-color: #2d2a2a;
    color: white;
}

.btn-light {
    background-color: #e8e1e1;
    color: black;
}

.modal {
    padding: 0;
    grid-template-rows: auto 1fr auto;
    border-radius: 10px;
    border: none;
    background-color: #0f0f0f;
    color: white;
    width: 50svw;
    height: 30svh;
    
    &::backdrop {
        background: #0f0f0f;
        opacity: 0.8;
    }

    &[open] {
        display: grid;
    }

    .head-div {
        font-size: 1.5rem;
        padding: 0.9rem;
        background-color: #004774
    };

    .body-div {
        display: flex;
        align-items: center;
        padding: 2rem;
        font-size: 2rem;
    }

    .button-div {
        display: flex;
        gap: 1rem;
        justify-content: end;
        align-items: center;
        padding: 1rem;

        button {
            white-space: nowrap;
            flex: 1;
            max-width: 150px;
        }        
    }
}

.toast {
    position: absolute;
    bottom: 2rem;
    left: 2rem;

    padding: 1.2rem;
    background-color: #004774;
    border-radius: 10px;
    opacity: 0.9;

    &.error {
        background-color: #dd343d;
    }
    &.warning {
        background-color: orange;
    }
}
