.spinner-div {
    position: relative;
}

.options-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    padding: 1rem;
    flex-grow: 1;
}

#spinner-canvas {
    display: block;
}


#update-options-button {
    font-size: 1rem;
    background-color: #004774;
}

#theme-select {
    background-color: #405c79;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    width: 50%;
    max-width: 250px;
    font-size: 1.2rem;

    &.error {
        background: orange;
    }
}

#manage-themes-link {

}