<span id="debug-text"></span>
<div class="two-cols">
    <div class="spinner-div">
        <select id="theme-select">
            <option selected>Select Theme</option>
            {{#each themes}}
                <option value="{{@index}}">{{this.name}}</option>
            {{/each}}
        </select>
        <a id="manage-themes-link" href="/themes">Manage Themes</a>
        <canvas id="spinner-canvas" width="900" height="900"></canvas>
        <canvas id="test-canvas" width="900" height="900"></canvas>
    </div>
    <div class="options-div">
        <textarea id="options-input"></textarea>
        <button id="update-options-button" class="btn">Update</button>
    </div>
</div>
<script src="js/bundle.js" async defer type="module"></script>
<script id="themes-data" type="application/json">
    {{ json themes }}
</script>
